html,body{
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  background-color: #121417;
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
h1{
  font-weight: 400;
}
p{
  color: #959eac;
  margin-bottom:30px;
  line-height: 1.5rem;
  vertical-align: middle;
}
span{
  padding:0 4px;
}
.main{
  border-radius: 20px;
  background-color: #252d37;
  max-width: 300px;
  margin: auto;
  padding:25px;
}
.rating-buttons{
  margin-bottom: 30px;
}
.circle{
  border-radius: 20px;
  border-style: none;
  background-color: #2d3743;
  color: 	#959eac;
  margin-right: 18px;
  height: 39px;
  width: 39px;
}
.rating:hover{
  background-color:#fb7413 ;
  color: #ffffff ;
}
.clicked{
  background-color: #959eac;
  color: #ffffff ;
}
.submit-btn{
  color:	#ffffff ;
  background-color:#fb7413 ;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
}
.submit-btn:active{
  background-color: #ffffff ;
  color: #fb7413 ;
}
.star{
  position: relative;
  top: 2px;
  left: 1px;
}
.center-align{
  text-align: center;
}
.selected-rating{
  color:	#e08d52;
  width: 190px;
  height: 30px;
  margin: auto;
  border: none;
  background-color: #2d3743;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.thank-you-img{
  margin-bottom: 15px;
}
